# App
opportunities=opportunities
PORT=8003
ENVIRONMENT=development



# Redis (Upstash)
REDIS_URL=rediss://default:password@host:port



# OpenAI (optional)
OPENAI_API_KEY=sk-your-openai-api-key

# Pinecone (optional)
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_NAME=techub-skills

